.dataRow {
  transition: 0.2s ease;
}

.dataRow:hover {
  cursor: pointer;
  opacity: 0.8;
}

.showDetail {
  position: absolute;
  top: 100px;
}

.backdrop {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
